{
    // "presets": ["@babel/preset-env", "@babel/react"],
    "presets": [
        [
            "@babel/preset-env",
            {"targets": "last 1 version", "modules": false},
            [
                "@babel/preset-typescript",
                {
                    "optimizeConstEnums": true
                }
            ]
        ]
    ],
    // "cacheDirectory": true,
    "comments": false
}
